@charset "utf-8";

*{margin:0; padding:0;}
body{ padding:20px; }

#box{
  position:relative;
  min-height:100px;
}
#box span{
  font-size:12px;
  position:absolute;
  width:20px;
  height:20px;
  background-color:#eee;
  color:#000;
  text-align:center;
  line-height:20px;
}
#box span.block{
  background-color:#999;
}
#box span.A{
  color:#fff;
  background-color:blue;
  
}
#box span.A:after{
  content:"起";
}

#box span.B{
  color:#fff;
  background-color:red;
}
#box span.B:after{
  content:"终";
}

#msg{padding-bottom:10px;}
.ok{color:#333;}
.error{color:red;}
